div.spalte.infospalte
  div.fix
    div.logo
      a(href="/")
        img(src="./assets/images/Logo.svg" alt="Dr. Aletta Georgii")
    div.info
      p Allgemeine Dermatologie<br>Hautkrebsvorsorge<br> Allergologie<br> Ambulante Operationen<br> Phlebologie<br> Ästhetische Medizin<br>Lasertherapie<br>Medizinische Kosmetik<br>TCM
      div.flex
        div.flex_row
          strong Ihre Haut liegt uns am Herzen
        div.flex_row
          img(src="./assets/images/Pfeil.svg" alt="Allgemeine Dermatologie")

