// Farben
$rot: rgb(180, 0, 25);
$hellgrau: rgb(236,234,228);
$dunkelgrau: rgb(195,  189,  187 );
$gruen: rgb(192,221,78);

//Displaybreiten
$big: 1450px;
$medium: 1150px;
$small: 900px;
$xsmall: 550px;
// Infos
$content_start: 230px;
$footerhoehe: 115px;


// Backgroundbilder
//$prev_img: ./assets/images/prev.svg;