extends ./layout

block variablen
  - const seite = 'aerztinnen'
  - const title = 'Die Ärztinnen bei Hautärzte München | Dr. Aletta Georgii'
  - const keywords = 'Akne, Aknebehandlung, Aknetherapie, Akupunktur, Aletta Georgii, Allergie, Allergietest, Allergologie, Alopezie, Anti Aging, Antiaging, ästhetische Behandlungen, Ästhetische Dermatologie, Ästhetische Medizin, atopisches Ekzem, Autoimmunerkrankung, Behandlung Haarausfall, Behandlung Schwitzen, Besenreiser, Bilddokumentation von Muttermalen, Botox- und Fillerunterspritzung, Botoxbehandlung, Couperose, Derma Zentrum München, Dermatologie, Dermatologische Praxis, Dokumentation von Muttermalen, Dr. Aletta, Dr. Georgii, Faltenbehandlung, Faltenbehandlung mit Fillern, Filler, ganzheitliche Medizin, Gutartige und bösartige Hautveränderungen, Haarausfall, Haarentfernung, Haut-und Geschlechtskrankheiten, Hautanalyse, Hautarzt, Hautärztin, Hautkrebsbehandlung, Hautkrebsvorsorge, Hautscreening, Hautstraffung, Hautveränderung, Heuschnupfen, Hyperhidrosebehandlung mit Botulinumtoxin, Hyperhidrosis, Hypertrichose, Hyposensibilisierung, Kinderdermatologie, Komplementärmedizin, Kontaktallergie, Krampfaderleiden, Krampfadern, Laserbehandlung, Lichen ruber, Lymphdrainage, medizinische Kosmetik, Mesotherapie, Mikroneedling, Muttermal, Nahrungsmittelallergien, Nesselsucht, Neurodermitis, operative Dermatologie, operative Eingriffe, Peelingbehandlung, Phlebologie, Phytotherapie, Praxis für Dermatologie, Psoriasis vulgaris, Rosazea, Schleimhauterkrankungen, Schuppenflechte, Schwitzen, Screening von Muttermalen, Sonnenschutz, TCM, traditionelle chinesische Medizin, übermäßiges Schwitzen, Urtikaria, Verödung, Warzen weg, Dr. Uta Schröder, Christina Frey'
  - const description = 'Lernen Sie unsere erfahrenen Dermatologinnen kennen, die sich kompetent um das Wohlergehen Ihrer Haut kümmern.'


block content
  div.content.flex
    .flex_1_1
      h1 Unsere Ärztinnen
    .flex_1_3
      img.img_gesamte_breite(src="./assets/images/aerztinnen/DocB.jpg" alt="Dr. Uta Schröder")
    .flex_2_3.vita
      h2 Dr. Uta Schröder  
      p
        span.jahr 1991–1995
        span.text Studium der Humanmedizin  an der Ludwig-Maximilians-Universität München

      p
        span.jahr Seit 1995 
        span.text Facharztausbildung für Dermatologie und Allergologie am Städtischen  Krankenhaus München Schwabing 

      p
        span.jahr Seit 1995
        span.text Regelmäßige Praxisvertretungen in  verschiedenen dermatologischen Praxen 

      p
        span.jahr Seit 2019
        span.text Angestellte Fachärztin bei Frau Dr. Aletta Georgii 




  p.zitat „Anteilnahme ist der geheime Schlüssel, der die  Herzen anderer öffnet“
  p.unterheadline
    small Samuel Smiles



  div.content.content2.flex.contentabschluss
    .flex_1_3
      img.img_gesamte_breite(src="./assets/images/aerztinnen/DocC.jpg" alt="Cristina Frey")
    .flex_2_3.vita
      h2 Cristina Frey  
      p
        span.text Studium der Medizin an der Universität  Bukarest und der Ludwig-Maximilians-Universität München 

      p
        span.jahr 1980 –1986
        span.text Facharztausbildung für Dermatologie und Allergologie an der Ludwig-Maximilians-Universität München 

      p
        span.jahr 1987–2018
        span.text Niedergelassen in eigener Praxis für Dermatologie und Allergologie 

      p
        span.jahr Seit 2019
        span.text Angestellte Fachärztin bei Frau Dr. Aletta Georgii  

