extends ./layout

block variablen
  - const seite = 'aktuelles'
  - const title = 'Aktuelles von Dr. Aletta Georgii | Praxis für Dermatologie'
  - const keywords = 'Aktuelles, Fotografie, Claus Uhlendorf, Portrait, Aufnahmen, schwarz-weiß Foto, Aletta Georgii, Dermatologie, Allergie, Neurodermitis, Urtikaria, Schuppenflechte, Vitiligo, TCM, traditionelle chinesische Medizin, Akupunktur, Heuschnupfen, Pollenflugvorhersage, Nahrungsmittelallergie, Dermatologische Praxis, Hautartz, Hautärzte, Hautärztinnen, Hautarztpraxis, München'
  - const description = 'Der Fotograf C. Uhlendorf zeigt auf großformatigen Schwarz-Weiß-Porträts Menschen aus unmittelbarer Nähe und schafft eine Atmosphäre großer Vertrautheit.'


block content
  div.content.contentabschluss
    h1 Photoausstellung in der Praxis Dr. Georgii
    p.zitat „Bereitsein ist viel, warten können ist mehr, doch erst den rechten Augenblick nützen ist alles“ 
    p.unterheadline
      small Arthur Schnitzler 

    p Der in München lebende Fotograf Claus Uhlendorf zeigt auf seinen großformatigen Photoausstellung Schwarz-Weiß-Porträts Menschen aus unmittelbarer Nähe und schafft damit eine Atmosphäre großer Vertrautheit.  
    h2.rot.x4 Hautsache Mensch 
    p(style="margin-bottom:1rem") Er begibt sich hautnah an seine Modelle aller Altersstufen heran und beleuchtet dabei nicht nur die Schönhaut der Haut in all ihren Facetten, sondern zeichnet ein höchst präzises und scharfes menschliches Bild der Porträtierten. Der kleine Ausschnitt und die Reduzierung auf das Wesentliche machen die Individualität des Einzelnen auf sehr charmante Art sichtbar. Die Aufnahmen hängen in den Praxisräumen von Dr. Aletta Georgii. 
    img.img_gesamte_breite.aktuelles(src="./assets/images/aktuelles/01.jpg" alt="Hautsache Mensch ")
    img.img_gesamte_breite.aktuelles(src="./assets/images/aktuelles/02.jpg" alt="Fotograf Claus Uhlendorf - Schwarz-Weiß-Porträts")