extends ./layout

block variablen
  - const seite = 'aletta'
  - const title = 'Dr. Aletta Georgii - Ärztin für Dermatologie und Allergologie'
  - const keywords = 'Ärztin, Aletta, Georgii, Akne, Aknebehandlung, Aknetherapie, Akupunktur, Aletta Georgii, Allergie, Allergietest, Allergologie, Alopezie, Anti Aging, Antiaging, ästhetische Behandlungen, Ästhetische Dermatologie, Ästhetische Medizin, atopisches Ekzem, Autoimmunerkrankung, Behandlung Haarausfall, Behandlung Schwitzen, Besenreiser, Bilddokumentation von Muttermalen, Botox- und Fillerunterspritzung, Botoxbehandlung, Couperose, Derma Zentrum München, Dermatologie, Dermatologische Praxis, Dokumentation von Muttermalen, Dr. Aletta, Dr. Georgii, Faltenbehandlung, Faltenbehandlung mit Fillern, Filler, ganzheitliche Medizin, Gutartige und bösartige Hautveränderungen, Haarausfall, Haarentfernung, Haut-und Geschlechtskrankheiten, Hautanalyse, Hautarzt, Hautärztin, Hautkrebsbehandlung, Hautkrebsvorsorge, Hautscreening, Hautstraffung, Hautveränderung, Heuschnupfen, Hyperhidrosebehandlung mit Botulinumtoxin, Hyperhidrosis, Hypertrichose, Hyposensibilisierung, Kinderdermatologie, Komplementärmedizin, Kontaktallergie, Krampfaderleiden, Krampfadern, Laserbehandlung, Lichen ruber, Lymphdrainage, medizinische Kosmetik, Mesotherapie, Mikroneedling, Muttermal, Nahrungsmittelallergien, Nesselsucht, Neurodermitis, operative Dermatologie, operative Eingriffe, Peelingbehandlung, Phlebologie, Phytotherapie, Praxis für Dermatologie, Psoriasis vulgaris, Rosazea, Schleimhauterkrankungen, Schuppenflechte, Schwitzen, Screening von Muttermalen, Sonnenschutz, TCM, traditionelle chinesische Medizin, übermäßiges Schwitzen, Urtikaria, Verödung, Warzen weg'
  - const description = 'Dr. Aletta Georgii betreut Sie ganzheitlich und mit persönlich zugeschnittenen Behandlungsmethoden der Dermatologie, Allergologie, Akupunktur und TCM.'


block content
  div.content.flex
    .flex_1_3
      img.img_gesamte_breite(src="./assets/images/aletta/Aletta.jpg" alt="Dr. Aletta Georgii betreut Sie ganzheitlich und mit persönlich zugeschnittenen")
    .flex_2_3.vita.lebenslauf
      h1 Dr. Aletta Georgii 
      p
        span.jahr 1977&mdash;1980
        span.text Studium der Medizin an der Universität Ulm

      p
        span.jahr 1980&mdash;1984
        span.text Studium der Medizin an der Ludwig-Maximilians-Universität München 

      p
        span.jahr 1985&mdash;1990
        span.text Facharztausbildung für Dermatologie und Allergologie an der  Ludwig-Maximilians-Universität München 

      p
        span.jahr 1997&mdash;2001
        span.text Ausbildung in Traditioneller Chinesischer Medizin bei der Societas  Medicinae Sinensis (SMS) München 

      p
        span.jahr Seit 1990
        span.text Niedergelassen in eigener Praxis für Dermatologie, Allergologie und  Akupunktur

  div.schlusstext.contentabschluss
    p.zitat „Unser Geist gewinnt an Kraft, wenn wir  uns um andere kümmern“
    p.unterheadline
      small Der Dalai Lama