extends ./layout

block variablen
  - const seite = 'ambulant'
  - const title = 'Ambulante Operationen bei Hautärzte München '
  - const keywords = 'Akne, Aknebehandlung, Aknetherapie, Akupunktur, Aletta Georgii, ästhetische Behandlungen, Ästhetische Dermatologie, Ästhetische Medizin, Behandlung Haarausfall, Behandlung Schwitzen, Besenreiser, Bilddokumentation von Muttermalen, Botox- und Fillerunterspritzung, Botoxbehandlung, Derma Zentrum München, Dermatologie, Dermatologische Praxis, Dr. Aletta, Dr. Georgii, Faltenbehandlung, Faltenbehandlung mit Fillern, Filler, Gutartige und bösartige Hautveränderungen, Haarentfernung, Haut-und Geschlechtskrankheiten, Hautanalyse, Hautarzt, Hautärztin, Hautkrebsbehandlung, Hautscreening, Hautstraffung, Hautveränderung, Hyposensibilisierung, Kinderdermatologie, Krampfaderleiden, Krampfadern, Laserbehandlung, Lymphdrainage, medizinische Kosmetik, Mesotherapie, Mikroneedling, Muttermal, Nesselsucht, Neurodermitis, operative Dermatologie, operative Eingriffe, ambulante Behandlung, Peelingbehandlung, Phytotherapie, Praxis für Dermatologie, Schuppenflechte, Schwitzen, Screening von Muttermalen, übermäßiges Schwitzen, Verödung, Warzen weg'
  - const description = 'Die operative Tätigkeit umfasst die Entfernung von gut- und bösartigen Hauttumoren, Fehlbildungen und kosmetisch störenden Hautveränderungen.'

block content
  div.content.flex.contentabschluss
    .flex_1_3#bild_leiste
      -var x = 1;
      while x <= 5
        if x < 10
          - var bild_src = seite + "0" + x + ".jpg";
        else
          - var bild_src = seite + x + ".jpg";
        - x++;
        -var src = "./assets/images/" + seite + "/" + bild_src;
        //p= src
        img.img_gesamte_breite(src=src alt="Die operative Tätigkeit")
    .flex_2_3.vita
      div#content_leiste
        h1 „Unter allen Teilen der Medizin ist der Effekt der Chirurgie der sinnfälligste“
        p.unterheadline
          mall Spinoza
        p Ambulante Operationen haben ihren festen Platz in unserer dermatologischen Praxis. Ein wichtiges Thema ist dabei die Hautkrebsvorsorge und -behandlung, denn wird Hautkrebs früh genug diagnostiziert und therapiert, sind die Heilungschancen extrem hoch. Dafür bedarf es häufig nur eines harmlosen kleinen Eingriffs, vor dem Sie keine Angst haben müssen. Neben der operativen Entfernung von gutartigen und bösartigen Hauttumoren beseitigen wir in unserer Praxis im Herzen Münchens aber auch etliche andere Fehlbildungen und kosmetisch störende Hautveränderungen. Die Eingriffe werden alle durch eine der erfahrenen Ärztinnen vorgenommen, die zusammen mit dem übrigen Team dafür sorgen, dass Sie sich als Patient in unserer Praxis rundum wohl und in guten Händen fühlen. 
        p Vor jedem Eingriff informieren wir unsere Patienten in einem ausführlichen Aufklärungs- und Vorbereitungsgespräch. In diesem Gespräch können Sie alle offenen Fragen mit uns klären. Nach der Operation beurteilen wir die entnommenen Gewebeproben nach der Präparation in unserem dermatohistopathologischen Labor unter dem Mikroskop. Bereits wenige Tage nach dem Eingriff können wir mit Ihnen das Ergebnis bei einer Nachsorgeuntersuchung in unserer Praxis oder am Telefon besprechen und den Heilungsverlauf begutachten. 
        p Die Eingriffe an der Haut oder an den Schleimhäuten führen wir ambulant und unter Einsatz örtlicher Betäubungsmittel (Lokalanästhesie) durch. Die Belastung für Sie als Patient wird dabei so gering wie möglich gehalten. Im Allgemeinen können Sie – gegebenenfalls nach kurzer Beobachtung – direkt nach dem Eingriff nach Hause gehen, müssen also keinen längeren Aufenthalt in unserer Praxis einplanen. 
        p Als Dermatologinnen sind wir natürlich auch Experten in Sachen medizinische Kosmetik und beraten Sie gerne bezüglich möglicher Behandlungsmethoden von kosmetisch störenden Hautveränderungen. In vielen Fällen können diese ganz unkompliziert mittels Operation oder Laserbehandlung entfernt werden. 
        p
        h2.rot.x4.mb-0 Folgende Hautveränderungen 
        p.mt-5 beseitigen wir häufig operativ in unserer dermatologischen Praxis:
        ul
          li.anfuehrungszeichen Klinisch auffällige Muttermale
          li.anfuehrungszeichen Sogenannten weißen Hautkrebs (zum Beispiel aktinische Keratosen, Basaliome)
          li.anfuehrungszeichen Beginnenden schwarzen Hautkrebs (malignes Melanom)
          li.anfuehrungszeichen Gutartige Tumore der Haut (zum Beispiel Zysten, Lipome, Fibrome, Histiozytome)
          li.anfuehrungszeichen Veränderungen am Nagelorgan
        p Nehmen Sie einfach Kontakt mit uns auf. Wir Hautärztinnen sind gemeinsam mit unserem Team für Sie da und haben für all Ihre Anliegen ein offenes Ohr.
