extends ./layout

block variablen
  - const seite = 'anfahrt'
  - const title = 'Anfahrt zu Hautärzte München | Dr. Aletta Georgii'
  - const keywords = 'Anfahrt, So erreichen Sie uns, Zentrum München, Rindermarkt 17, 80331 München, Marienplatz, München, Anfahrtsbeschreibung, Adresse, Aletta Georgii, Dermatologie, Dermatologische Praxis, Hautartz, Hautärzte, Hautärztinnen, Hautarztpraxis, München'
  - const description = 'In unmittelbarer Nähe zum Marienplatz – Unsere Hautarztpraxis liegt direkt im Herzen Münchens, nur zwei Fußminuten vom Marienplatz entfernt.'


block content
  div.content.contentabschluss
    h1 „Es ist nie zu früh, manchmal aber zu spät“ 
    p.unterheadline
      small Chinesisches Sprichwort 
    h2.rot.x4 In unmittelbarer Nähe zum Marienplatz  – zentraler geht’s nicht 
    p Unsere Praxis liegt direkt im Herzen Münchens, nur zwei Fußminuten vom Marienplatz entfernt. Sie können uns also bequem per S- und U-Bahn erreichen (Haltestelle Marienplatz).  Autofahrer parken in der Tiefgarage „Marienplatz“ quasi unmittelbar vor unserer Haustür. Und natürlich lässt sich ein Besuch in unserer Praxis bestens mit einem kleinen Stadtbummel verbinden. 
    p Rindermarkt 17 <br>80331 München
    p Der Zugang zu unserer Praxis befindet sich im Innenhof der Tiefgarage „Marienplatz“. Sie finden uns im dritten Stock, ein Fahrstuhl ist vorhanden. 
    a(href="https://goo.gl/maps/pcPikvcwKBvdJYP47" target="_blank") 
      strong Google Maps
    p Auf den meisten Handys ist Google Maps installiert – so finden Sie sehr bequem unsere Praxis. Die Suche funktioniert natürlich auch mit anderen Karten-Apps für das Handy. 