extends ./layout

block variablen
  - const seite = 'behandlungszeiten'
  - const title = 'Sprechzeiten | Öffnungszeiten Dr. Aletta Georgii'
  - const keywords = 'Sprechzeiten, Behandlungszeiten, Öffnungszeiten, Zeiten, Aletta Georgii, Dermatologie, Dermatologische Praxis, Hautartz, Hautärzte, Hautärztinnen, Hautarztpraxis, München'
  - const description = 'Unsere Praxissprechzeiten: Montag bis Freitag: 8–12 Uhr, Montag bis Donnerstag: 14–18 Uhr - Wir freuen uns auf Ihren Besuch in unserer Praxis!'

block content
  div.content.contentabschluss
    h1 Unsere Praxissprechzeiten
    table()
      tr
        td(style="padding: 0 20px 25px 0;") Montag bis Freitag
        td(align="right" style="padding: 0 0 25px 30px;") 8–12 Uhr
      tr
        td(style="padding: 0 20px 25px 0;") Montag bis Donnerstag
        td(align="right" style="padding: 0 0 25px 30px;") 14–18 Uhr
    p Großzügige, helle Räumlichkeiten und eine angenehme Atmosphäre sollen dazu beitragen, dass Sie sich in unserer Praxis für Dermatologie in München von Beginn an wohlfühlen.  
    p Zusätzlich bieten wir Ihnen Privatsprechstunden nach Vereinbarung an. 
    p Wichtiger Bestandteil unseres Behandlungskonzepts ist ein konsequentes Bestellsystem, um Wartezeiten so gut wie möglich zu vermeiden. Ihre Termine werden nach vorheriger telefonischer Vereinbarung für Sie reserviert. Deshalb bitten wir Sie auch, rechtzeitig telefonisch abzusagen, wenn Sie verhindert sein sollten. Vielen Dank. 
    h2.rot.x4 Terminanfragen können Sie gerne auch schriftlich stellen an: <br> <a href="mailto:info@hautaerztemuenchen.de" class="rot">info@hautaerztemuenchen.de</a>
    p Wir rufen Sie dann baldmöglichst zurück.  
    hr
    h3.rot.x4 Patientenerfahrungen
    p.meinungen „Aletta Georgii ist die beste Hautärztin, die ich jemals hatte. Sie hat mich von einer Hauterkrankung befreit, bei der kein anderer Dermatologe mehr weiterwusste.“
      small Konrad B. aus München 
    hr.light
    p.meinungen.meinungen_right „Ich bin seit über 20 Jahren bei Dr. Aletta Georgii und bin immer wieder von Neuem begeistert – sowohl von ihrer zugewandten, einfühlsamen Art als auch von ihrer umfassenden medizinischen Expertise.“
      small Sabine K. aus München 
    hr.light
    p.meinungen „Sehr kundige und erfahrende Hautärztin, die darüber hinaus noch eine fundierte Ausbildung in TCM hat.“	
      small Katja S. aus Dachau
    hr.light
    p.meinungen.meinungen_right „Die Praxis ist sehr zentral gelegen und optimal zu erreichen. So kann ich in der Stadt noch ein paar Erledigungen machen und finde hier meine Ruhe.“ 
      small Peter W. aus München
