extends ./layout

block variablen
  - const seite = 'berichte'
  - const title = 'Wissenschaftliche Beiträge von Dr. Aletta Georgii, Dermatologin'
  - const keywords = 'Wissenschaftliche Beiträge, wissenschaftliche Publikationen, wissenschaftich, Veröffentlichung, Bericht, Beitrag, Randomized trial with early-stage Hodgkins disease, Treatment of tinea unguium with medium and high doses of ultramicrosize griseofulvin, Aletta Georgii, Dermatologie, Allergie, Neurodermitis, Urtikaria, Schuppenflechte, Vitiligo, TCM, traditionelle chinesische Medizin, Akupunktur, Heuschnupfen, Pollenflugvorhersage, Nahrungsmittelallergie, Dermatologische Praxis, Hautartz, Hautärzte, Hautärztinnen, Hautarztpraxis, München'
  - const description = 'Hier sehen Sie eine Übersicht der wissenschaftlichen Beiträge und Publikationen in der Medizin, an denen Dr. Aletta Georgii mitgewirkt hat.'


block content
  div.content.contentabschluss
    h1 „Eine nationale Wissenschaft gibt es nicht, so wie es auch kein  nationales Einmaleins gibt; was national ist, das ist keine  Wissenschaft mehr“ 
    p.unterheadline
      small Anton Tschechow 
    h2.rot.x4 Wenn Sie mehr über unsere wissenschaftlichen Beiträge in der Medizin wissen möchten:  

    div.berichte
      h3
        a(href="https://www.ncbi.nlm.nih.gov/pubmed/8892452" target="_blank") Randomized trial with early-stage Hodgkin's disease testing 30 Gy vs. 40 Gy extended field radiotherapy alone
      p Dühmke E, Diehl V, Loeffler M, Mueller RP, Ruehl U, Willich N, Georgii A, Roth S, Matthaei D, Sehlen S, Brosteanu O, Hasenclever D, Wilkowski R, Becker K
      p Link zur Veröffentlichung beim Verlag: 
        a(href="https://dx.doi.org/10.1016/S0360-3016(96)00333-1" target="_blank") DOI:10.1016/S0360-3016(96)00333-1
    div.berichte
      h4
        a(href="https://www.ncbi.nlm.nih.gov/pubmed/8257124" target="_blank") Treatment of tinea unguium with medium and high doses of ultramicrosize griseofulvin compared with that with itraconazole
      p Korting HC, Schäfer-Korting M, Zienicke H, Georgii A, Ollert MW
      p In: Antimicrobial Agents and Chemotherapy, 1993; 37(10):2064–2068
      p Link zur Veröffentlichung beim Verlag: 
        a(href="https://dx.doi.org/10.1128/AAC.37.10.2064" target="_blank") DOI:10.1128/AAC.37.10.2064
    div.berichte
      h4
        a(href="https://www.ncbi.nlm.nih.gov/pubmed/1795713" target="_blank") Antifungal susceptibility testing with dermatophytes (Antimykotika-Empfindlichkeitsprüfung bei Dermatophyten)
      p Georgii A, Korting HC
      p In: Mycoses, 1991; 34(5-6):193–199
      p Link zur Veröffentlichung beim Verlag:  
        a(href="https://dx.doi.org/10.1111/j.1439-0507.1991.tb00643.x" target="_blank") DOI:10.1111/j.1439-0507.1991.tb00643.x
    div.berichte
      h3
        a(href="https://www.ncbi.nlm.nih.gov/pubmed/2173670" target="_blank") Demonstration of Quinolone Phototoxicity in vitro
      p Przybilla B, Georgii A, Bergner T, Ring J
      p In: Dermatologica, 1990; 181(2):98–103
      p Link zur Veröffentlichung beim Verlag:  
        a(href="https://dx.doi.org/10.1159/000247894" target="_blank") DOI:10.1159/000247894
    div.berichte
      h4 Olmsted-Syndrom. Assoziation mit primär sklerosierender Cholangitis und Immunschwäche unklarer Genese
      p Georgii A, Przybilla B, Schmoeckel C
      p In: Der Hautarzt, 1989; 40(11):708–712
      p Veröffentlichung <a href="https://link.springer.com/journal/105" target="_blank">beim Verlag (Springer)</a>, leider nicht online verfügbar
    div.berichte
      h4
        a(href="https://pubmed.ncbi.nlm.nih.gov/?term=georgii%20a%5bAuthor%5d%20AND%20munich%5bAffiliation%5d" target="_blank") Wissenschaftliche Publikationen und Beiträge von Dr. Aletta Georgii bei PubMed suchen ...
