extends ./layout

block variablen
  - const seite = 'impressum'
  - const title = 'Impressum von Dr. Aletta Georgii, München'
  - const keywords = 'Impressum, Rechtliche Angaben, Aletta Georgii, Dermatologie, Dermatologische Praxis, Hautartz, Hautärzte, Hautärztinnen, Hautarztpraxis, München'
  - const description = 'Praxis für Dermatologie, Dr. Aletta Georgii, Rindermarkt 17, 80331 München, Telefon: 089 2441056-0, info@hautaerztemuenchen.de'



block content
  div.content.contentabschluss
    
    h1 Impressum der Praxis für Dermatologie, Dr. Aletta Georgii
    p Praxis für Dermatologie<br>Dr. Aletta Georgii<br>Rindermarkt 17  <br>80331 München
    p Telefon: <a href="tel:+498924410560">089 2441056-0</a>
    p Sie können auch gern Ihren Termin hier online vereinbaren.
    p.impressum_btn
      a(class="btn termine" href="https://de.doctena.de/behandler/Dr_Aletta_Georgii-906686#16035" target="_blank") Termin online buchen
    p <a href="mailto:info@hautaerztemuenchen.de">info@hautaerztemuenchen.de</a>
    p © 2021 Praxis Dr. Aletta Georgii, München, alle Rechte vorbehalten  
    p.zitat „Es gibt keine Freiheit ohne gegenseitiges Verständnis“ 
    p.unterheadline
      small Albert Camus
    <strong>Wichtiger Hinweis: </strong><br>
      Die Informationen geben die Erfahrungen der Autorinnen und den medizinischen Wissensstand am Ausgabedatum wieder. Durch die Weiterentwicklung der medizinischen Erkenntnisse kann ein Teil der Informationen mit der Zeit überholt sein. Daher können sie eine aktuelle ärztliche Beratung und Behandlung nicht ersetzen. 
    p.
      <strong>Verantwortlich für den Inhalt dieser Internetseiten: </strong><br>
      Inhaltlich Verantwortlicher gemäß § 10 Abs. 3 MDStV: Praxis Dr. Aletta Georgii
    p.
      <strong>Haftungshinweis: </strong><br>
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für die Inhalte der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    p Hiermit widersprechen wir gemäß §§ 28, 29 BDSG der Nutzung unserer Kommunikationsdaten für jegliche Form der unerbetenen Werbung und weisen insbesondere darauf hin, dass unverlangte Fax- und E-Mail-Werbung rechtswidrig ist.
    p.
      Grafikdesign und Fotografie: Claus Uhlendorf, München <br>
      Text: Dr. Andrea Hübner <br>
      Webmaster: Johann Daferner, design-81 | mediengestaltung, Karlshuld