extends ./layout

block variablen
  - const seite = 'index'
  - const title = 'Praxis für Dermatologie in München'
  - const keywords = 'Akne, Aknebehandlung, Aknetherapie, Akupunktur, Aletta Georgii, Allergie, Allergietest, Allergologie, Alopezie, Anti Aging, Antiaging, ästhetische Behandlungen, Ästhetische Dermatologie, Ästhetische Medizin, atopisches Ekzem, Autoimmunerkrankung, Behandlung Haarausfall, Behandlung Schwitzen, Besenreiser, Bilddokumentation von Muttermalen, Botox- und Fillerunterspritzung, Botoxbehandlung, Couperose, Derma Zentrum München, Dermatologie, Dermatologische Praxis, Dokumentation von Muttermalen, Dr. Aletta, Dr. Georgii, Faltenbehandlung, Faltenbehandlung mit Fillern, Filler, ganzheitliche Medizin, Gutartige und bösartige Hautveränderungen, Haarausfall, Haarentfernung, Haut-und Geschlechtskrankheiten, Hautanalyse, Hautarzt, Hautärztin, Hautkrebsbehandlung, Hautkrebsvorsorge, Hautscreening, Hautstraffung, Hautveränderung, Heuschnupfen, Hyperhidrosebehandlung mit Botulinumtoxin, Hyperhidrosis, Hypertrichose, Hyposensibilisierung, Kinderdermatologie, Komplementärmedizin, Kontaktallergie, Krampfaderleiden, Krampfadern, Laserbehandlung, Lichen ruber, Lymphdrainage, medizinische Kosmetik, Mesotherapie, Mikroneedling, Muttermal, Nahrungsmittelallergien, Nesselsucht, Neurodermitis, operative Dermatologie, operative Eingriffe, Peelingbehandlung, Phlebologie, Phytotherapie, Praxis für Dermatologie, Psoriasis vulgaris, Rosazea, Schleimhauterkrankungen, Schuppenflechte, Schwitzen, Screening von Muttermalen, TCM, traditionelle chinesische Medizin, übermäßiges Schwitzen, Urtikaria, Verödung, Warzen weg'
  - const description = 'Willkommen bei Dr. Aletta Georgii, Privatpraxis für Dermatologie. Ihre Spezialisten für ganzheitliche Medizin und gesunde Haut. ☎ 089 2441056-0'

block content
  div.content
    img.img_gesamte_breite(src="./assets/images/index/startseite.jpg" alt="Willkommen bei Dr. Aletta Georgii")
  div.schlusstext.contentabschluss
    h1.rot.gross Ihre Haut liegt uns am Herzen
    p Willkommen in der Dermatologischen Praxis in unmittelbarer Nähe zum Marienplatz

