extends ./layout

block variablen
  - const seite = 'leistungen'
  - const title = 'Ein + an Leistungen bei Hautärzte München | Dr. Aletta Georgii'
  - const keywords = 'Akne, Aknebehandlung, Aknetherapie, Akupunktur, Allergie, Allergietest, Allergologie, Alopezie, Anti Aging, Antiaging, ästhetische Behandlungen, Ästhetische Dermatologie, Ästhetische Medizin, atopisches Ekzem, Autoimmunerkrankung, Behandlung Haarausfall, Behandlung Schwitzen, Besenreiser, Bilddokumentation von Muttermalen, Botox- und Fillerunterspritzung, Botoxbehandlung, Couperose, Derma Zentrum München, Dermatologie, Dermatologische Praxis, Dokumentation von Muttermalen, Dr. Aletta, Dr. Georgii, Faltenbehandlung, Faltenbehandlung mit Fillern, Filler, ganzheitliche Medizin, Gutartige und bösartige Hautveränderungen, Haarausfall, Haarentfernung, Haut-und Geschlechtskrankheiten, Hautanalyse, Hautarzt, Hautärztin, Hautkrebsbehandlung, Hautkrebsvorsorge, Hautscreening, Hautstraffung, Hautveränderung, Heuschnupfen, Hyperhidrosebehandlung mit Botulinumtoxin, Hyperhidrosis, Hypertrichose, Hyposensibilisierung, Kinderdermatologie, Komplementärmedizin, Kontaktallergie, Krampfaderleiden, Krampfadern, Laserbehandlung, Lichen ruber, Lymphdrainage, medizinische Kosmetik, Mesotherapie, Mikroneedling, Muttermal, Nahrungsmittelallergien, Nesselsucht, Neurodermitis, operative Dermatologie, operative Eingriffe, Peelingbehandlung, Phlebologie, Phytotherapie, Praxis für Dermatologie, Psoriasis vulgaris, Rosazea, Schleimhauterkrankungen, Schuppenflechte, Schwitzen, Screening von Muttermalen, Sonnenschutz, TCM, traditionelle chinesische Medizin, übermäßiges Schwitzen, Urtikaria, Verödung, Warzen weg, Leistungen, Umfang, Behandlungsmethoden, Ursachen, Diagnostik, Therapie'
  - const description = 'In unserer modernen Praxis stehen uns eine Vielzahl an Diagnostik- und Therapieformen zur Verfügung - für Ihre bestmögliche, individuelle Behandlung.'


block content
  div.content.flex
    .flex_1_3#bild_leiste
      -var x = 1;
      while x <= 11
        if x < 10
          - var bild_src = seite + "0" + x + ".jpg";
        else
          - var bild_src = seite + x + ".jpg";
        - x++;
        -var src = "./assets/images/" + seite + "/" + bild_src;
        //p= src
        img.img_gesamte_breite(src=src alt="In unserer modernen Praxis")
    .flex_2_3.vita
      div#content_leiste
        h1 Die Leistungen der Praxis für Dermatologie
        h2.rot.x4.mb-10 Hautkrebsvorsorge mit computerunterstützter Fotodokumentation bei  
        p.pseulist Screening von Muttermalen<br>Malignem Melanom<br>Präkanzerosen<br>Altersbedingten Veränderungen 
        h3.rot.x4.mb-10 Diagnostik und Therapie akuter sowie chronischer  Hauterkrankungen, zum Beispiel  
        p.pseulist Neurodermitis<br>Psoriasis vulgaris (Schuppenflechte)<br>Akne und Rosazea<br>Kontaktekzem<br>Autoimmunerkrankungen<br>Urtikaria (Nesselsucht)<br>Alopezie (Haarausfall) 

        h3.rot.x4.mb-10 Photodynamische Therapie   
        p.pseulist Bei verschiedenen Formen von Präkanzerosen und sogenannter Feldkanzerisierung

        h2.rot.x4.mb-10 Allergologie  
        p.pseulist Epikutan- und Pricktest<br>Nachweis von Umgebungs-, Nahrungsmittel- und Medikamentenallergien<br>Nachweis spezifischer Antikörper<br>Hyposensibilisierung 




        h3.rot.x4.mb-10 Operationen   
        p.pseulist Exzision gutartiger und bösartiger Tumore (Hautkrebs)<br>Probebiopsien<br>Kürettagen<br>Laserchirurgie 



        h3.rot.x4.mb-10 Phlebologie  
        p.pseulist Verödung von Besenreisern und Krampfadern<br>Lasertherapie<br>Doppleruntersuchung der Venen



        h4.rot.x4.mb-10 Ästhetische Medizin   
        p.pseulist Faltenbehandlung<br>Lippenaugmentation, Volumenaufbau<br>Rejuvenation (Gesicht, Hals, Dekolleté)<br>Botulinumtoxin-Injektion bei Mimikfalten und starkem Schwitzen<br>Fadenlifting 



        h4.rot.x4.mb-10 Lasertherapie   
        p.pseulist Haarentfernung<br>Behandlung von Couperose<br>Entfernung von Besenreisern<br>Entfernung von Pigmentflecken<br>Entfernung von Warzen<br>Behandlung störender Hautveränderungen



        h4.rot.x4.mb-10 Medizinische Kosmetik  
        p.pseulist Peelingbehandlungen zur Verbesserung der Hautstruktur<br>Manuelle Aknetherapie<br>Lymphdrainage des Gesichtes<br>Mesotherapie <br>Mikroneedling
        
        p.zitat „Die Erkenntnis der Wirkung hängt von der Erkenntnis der Ursache ab und schließt diese mit ein“
        p.unterheadline
          small Spinoza
