extends ./layout

block variablen
  - const seite = 'leistungen'
  - const title = 'Ein + an Leistungen bei Hautärzte München | Dr. Aletta Georgii'
  - const keywords = 'Akne, Aknebehandlung, Aknetherapie, Akupunktur, Allergie, Allergietest, Allergologie, Alopezie, Anti Aging, Antiaging, ästhetische Behandlungen, Ästhetische Dermatologie, Ästhetische Medizin, atopisches Ekzem, Autoimmunerkrankung, Behandlung Haarausfall, Behandlung Schwitzen, Besenreiser, Bilddokumentation von Muttermalen, Botox- und Fillerunterspritzung, Botoxbehandlung, Couperose, Derma Zentrum München, Dermatologie, Dermatologische Praxis, Dokumentation von Muttermalen, Dr. Aletta, Dr. Georgii, Faltenbehandlung, Faltenbehandlung mit Fillern, Filler, ganzheitliche Medizin, Gutartige und bösartige Hautveränderungen, Haarausfall, Haarentfernung, Haut-und Geschlechtskrankheiten, Hautanalyse, Hautarzt, Hautärztin, Hautkrebsbehandlung, Hautkrebsvorsorge, Hautscreening, Hautstraffung, Hautveränderung, Heuschnupfen, Hyperhidrosebehandlung mit Botulinumtoxin, Hyperhidrosis, Hypertrichose, Hyposensibilisierung, Kinderdermatologie, Komplementärmedizin, Kontaktallergie, Krampfaderleiden, Krampfadern, Laserbehandlung, Lichen ruber, Lymphdrainage, medizinische Kosmetik, Mesotherapie, Mikroneedling, Muttermal, Nahrungsmittelallergien, Nesselsucht, Neurodermitis, operative Dermatologie, operative Eingriffe, Peelingbehandlung, Phlebologie, Phytotherapie, Praxis für Dermatologie, Psoriasis vulgaris, Rosazea, Schleimhauterkrankungen, Schuppenflechte, Schwitzen, Screening von Muttermalen, Sonnenschutz, TCM, traditionelle chinesische Medizin, übermäßiges Schwitzen, Urtikaria, Verödung, Warzen weg, Leistungen, Umfang, Behandlungsmethoden, Ursachen, Diagnostik, Therapie'
  - const description = 'In unserer modernen Praxis stehen uns eine Vielzahl an Diagnostik- und Therapieformen zur Verfügung - für Ihre bestmögliche, individuelle Behandlung.'


block content
  div.content.flex
    .flex_1_3#bild_leiste
      -var x = 1;
      while x <= 11
        if x < 10
          - var bild_src = seite + "0" + x + ".jpg";
        else
          - var bild_src = seite + x + ".jpg";
        - x++;
        -var src = "./assets/images/" + seite + "/" + bild_src;
        //p= src
        img.img_gesamte_breite(src=src alt="In unserer modernen Praxis")
    .flex_2_3.vita
      div#content_leiste
        h1 „Die Erkenntnis der Wirkung hängt von der Erkenntnis der Ursache ab und schließt diese mit ein“
        p.unterheadline
          mall Spinoza
        h2.rot.x4 Hautkrebsvorsorge mit computerunterstützter Fotodokumentation bei  
        ul
          li Screening von Muttermalen
          li Malignem Melanom 
          li Präkanzerosen 
          li Altersbedingten Veränderungen 
        h2.rot.x4 Diagnostik und Therapie akuter sowie chronischer  Hauterkrankungen, zum Beispiel  
        ul
          li Neurodermitis 
          li Psoriasis vulgaris (Schuppenflechte) 
          li Akne und Rosazea 
          li Kontaktekzem 
          li Autoimmunerkrankungen 
          li Urtikaria (Nesselsucht) 
          li Alopezie (Haarausfall) 

        h3.rot.x4 Photodynamische Therapie   
        ul
          li Bei verschiedenen Formen von Präkanzerosen und sogenannter Feldkanzerisierung

        h3.rot.x4 Allergologie  
        ul
          li Epikutan- und Pricktest 
          li Nachweis von Umgebungs-, Nahrungsmittel- und Medikamentenallergien 
          li Nachweis spezifischer Antikörper 
          li Hyposensibilisierung 




        h2.rot.x4 Operationen   
        ul
          li Exzision gutartiger und bösartiger Tumore (Hautkrebs)
          li Probebiopsien 
          li Kürettagen 
          li Laserchirurgie 



        h3.rot.x4 Phlebologie  
        ul
          li Verödung von Besenreisern und Krampfadern 
          li Lasertherapie 
          li Doppleruntersuchung der Venen



        h3.rot.x4 Ästhetische Medizin   
        ul
          li Faltenbehandlung 
          li Lippenaugmentation, Volumenaufbau 
          li Rejuvenation (Gesicht, Hals, Dekolleté) 
          li Botulinumtoxin-Injektion bei Mimikfalten und starkem Schwitzen 
          li Fadenlifting 



        h4.rot Lasertherapie   
        ul
          li Haarentfernung 
          li Behandlung von Couperose 
          li Entfernung von Besenreisern 
          li Entfernung von Pigmentflecken 
          li Entfernung von Warzen 
          li Behandlung störender Hautveränderungen



        h4.rot Medizinische Kosmetik  
        ul
          li Peelingbehandlungen zur Verbesserung der Hautstruktur 
          li Manuelle Aknetherapie 
          li Lymphdrainage des Gesichtes 
          li Mesotherapie  
          li Mikroneedling
