extends ./layout

block variablen
  - const seite = 'links'
  - const title = 'Dr. Aletta Georgii informiert | Links zum Thema Dermatologie'
  - const keywords = 'Weiterführende Links, Links, Gesundheit, Aletta Georgii, Dermatologie, Allergie, Neurodermitis, Urtikaria, Schuppenflechte, Vitiligo, TCM, traditionelle chinesische Medizin, Akupunktur, Heuschnupfen, Pollenflugvorhersage, Nahrungsmittelallergie, Dermatologische Praxis, Hautartz, Hautärzte, Hautärztinnen, Hautarztpraxis, München'
  - const description = 'Wir haben für Sie eine Liste mit weiterführenden Links zusammengestellt zu Dermatologie, Allergien, Neurodermitis, Urtikaria, Schuppenflechte, Vitiligo, u. v. m.'



block content
  div.content.contentabschluss
    h1 Weiterführende Links
    p.
      <strong class="rot">Für alle, die noch mehr wissen wollen,</strong><br> 
      haben wir eine Liste mit weiterführenden Links zusammengestellt. <br> <br>Wir weisen jedoch darauf hin, dass wir trotz sorgfältiger inhaltlicher Kontrolle keine Haftung für die Inhalte externer Links übernehmen. Für die Inhalte der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. 
    table.links
      tr
        td Allgemeine Fragen zur Dermatologie 
        td
          a(href="https://www.derma.de" target="_blank") www.derma.de
          br
          a(href="https://www.derma-net-online.de" target="_blank") www.derma-net-online.de 
          br
          a(href="https://www.dermis.net" target="_blank") www.dermis.net
          br
          a(href="https://www.portal-der-haut.de" target="_blank") www.portal-der-haut.de

      tr
        td Allgemeine Gesundheitsportale  
        td
          a(href="https://www.netdoktor.de" target="_blank") www.netdoktor.de 
          br
          a(href="https://www.onmeda.de" target="_blank") www.onmeda.de


      tr
        td Allergie, allgemein und Nahrungsmittelallergie  
        td
          a(href="https://www.allergiecheck.de" target="_blank") www.allergiecheck.de 
          br
          a(href="https://www.allergieinformationsdienst.de" target="_blank") www.allergieinformationsdienst.de
          br
          a(href="https://www.bfr.bund.de" target="_blank") www.bfr.bund.de
          br
          a(href="https://www.daab.de" target="_blank") www.daab.de
          br
          a(href="https://www.dgaki.de" target="_blank") www.dgaki.de
          br
          a(href="https://www.dha-allergien.de" target="_blank") www.dha-allergien.de
          br
          a(href="https://www.ecarf.org" target="_blank") www.ecarf.org


      tr
        td Heuschnupfen und Pollenflugvorhersage 
        td
          a(href="https://www.allergodil.de/" target="_blank") www.allergodil.de
          br
          a(href="https://www.pollenflug.de" target="_blank") www.pollenflug.de 


      tr
        td Neurodermitis  
        td
          a(href="https://www.dgaki.de" target="_blank") www.dgaki.de 
          br
          a(href="https://www.neurodermitis-bund.de" target="_blank") www.neurodermitis-bund.de



      tr
        td Urtikaria
        td
          a(href="https://www.dgaki.de" target="_blank") www.dgaki.de 
          br
          a(href="https://www.urtikaria.net" target="_blank") www.urtikaria.net 


      tr
        td Schuppenflechte 
        td
          a(href="https://www.psoriasis-bund.de" target="_blank") www.psoriasis-bund.de
          br
          a(href="https://www.psoriasis-netz.de" target="_blank") www.psoriasis-netz.de


      tr
        td Vitiligo 
        td
          a(href="https://www.vitiligo-bund.de" target="_blank") www.vitiligo-bund.de


      tr
        td TCM und Akupunktur  
        td
          a(href="https://www.daegfa.de" target="_blank") www.daegfa.de
          br
          a(href="https://www.dgfan.de" target="_blank") www.dgfan.de
          br
          a(href="https://www.tcm.edu" target="_blank") www.tcm.edu 


      tr
        td Sicherheit chinesischer Heilkräuter  
        td
          a(href="https://www.ctca.center/de" target="_blank") www.ctca.center/de 
    p.zitat „Es ist nichts so beständig wie die Unbeständigkeit“ 
    p.unterheadline
      small Immanuel Kant 