extends ./layout

block variablen
  - const seite = 'philosophie'
  - const title = 'Die Philosophie der Praxis Dr. Aletta Georgii'
  - const keywords = 'Aletta Georgii, ästhetische Behandlungen, Ästhetische Dermatologie, Ästhetische Medizin, Derma Zentrum München, Dermatologie, Dermatologische Praxis, Dr. Aletta, Dr. Georgii, Praxis für Dermatologie, Philosophie, Unternehmenskultur'
  - const description = 'Die Gesundheit der Haut ist eine wichtige Voraussetzung für unser allgemeines Wohlbefinden. Lernen Sie die Philosophie unserer Hautarztpraxis kennen.'


block content
  div.content.contentabschluss
    h1 Unsere Philosophie in der Praxis für Dermatologie, Dr. Aletta Georgii
    p Im Strudel des sich immer schneller drehenden Zeitrades bleiben individuelle Bedürfnisse oft auf der Strecke. Aber gerade der sensible Fachbereich der Dermatologie erfordert ein Höchstmaß an Aufmerksamkeit für jeden einzelnen Patienten. Schließlich ist die Gesundheit der Haut eine wichtige Voraussetzung für unser seelisches und körperliches Wohlbefinden. 
    p.zitat „Mit einer Hand lässt sich kein Knoten knüpfen“ 
    p.unterheadline
      small Chinesische Weisheit 
    p Entgegen dem Zeitgeist bieten wir Ihnen daher eine offene und warmherzige Zuwendung sowie ganzheitliche Therapiekonzepte, die speziell auf Ihre Bedürfnisse abgestimmt sind. Dabei bilden unsere hohe Fachkompetenz, qualifizierte Mitarbeiter sowie der Einsatz modernster technischer Verfahren die Grundlage für Ihre optimale Versorgung. Auch als gesunder Mensch fühlt man sich manchmal nicht wohl in seiner Haut. Unser Leistungsspektrum umfasst daher auch anspruchsvolle medizinisch-ästhetische Verfahren.

