extends ./layout

block variablen
  - const seite = 'team'
  - const title = 'Das Team von Dr. Aletta Georgii'
    - const keywords = 'ästhetische Behandlungen, Ästhetische Dermatologie, Ästhetische Medizin,Derma Zentrum München, Dermatologie, Dermatologische Praxis, Dokumentation von Muttermalen, Dr. Aletta, Dr. Georgii, Faltenbehandlung, Faltenbehandlung mit Fillern, ganzheitliche Medizin, Gutartige und bösartige Hautveränderungen, Haarausfall, Hautarzt, Hautärztin, Hautarztpraxis, München, Team, Ärztinnen, Dermatologinnen, Mitarbeiter'
  - const description = 'Vertrauen Sie unserem Team aus erfahrenen Hautärztinnen und hervorragend ausgebildeten medizinischen Fachangestellten.'



block content
  div.content.contentabschluss
    h1 Das Team unserer Praxis 
    p Eine dynamisch voranschreitende Zeit verlangt Beweglichkeit und kreative Konzepte, auch in der Praxisorganisation. Wir vertrauen auf die Kompetenz un­seres Teams. Die reibungslose Zusammenarbeit in unserer Praxis ermöglicht Ihre umfassende Versorgung auf höchstem Niveau. 
    p Durch regelmäßige interne Schulungen und externe Weiterbildungskurse sind unsere Mitarbeiter auf dem Gebiet der Dermatologie immer auf dem neuesten wissenschaftlichen und technischen Stand. Außerdem haben wir Freude am Umgang mit Menschen, bringen Verantwortungsbewusstsein, Teamgeist und Einsatzbereitschaft mit – die besten Voraussetzungen also für Ihre optimale Betreuung. 
    p.zitat „Mitarbeiter können alles: wenn man sie weiterbildet, wenn man ihnen Werkzeuge gibt, vor allem aber, wenn man es ihnen zutraut“ 
    p.unterheadline
      small Hans-Olaf Henkel
